body
{
  background-color: #212121;
  color: #FCFCFC;
  font-family: 'Inconsolata';
}
#output
{
  font-size: 17px;
}
#output p
{
    margin: 0;
    padding: 0;
    max-width: 500px;
}
#output p a
{
    color:#FCFCFC;
    text-decoration: underline;
}
#inputContainer
{
    visibility: hidden;
}
#inputContainer input
{
    background-color: #212121;
    border:none;
    margin-left: 10px;
    color: #FCFCFC;
    font-family: 'Inconsolata';
    font-size: 17px;
}
textarea:focus, input:focus
{
	outline: 0;
}
