@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$width: 1200px;
$height: 600px;
$bar-height: 30px;

body {
	background: #ced4da;
  font-size: 1.5em;
  overflow: hidden;
}

.window {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: $width;
	height: $height;
	background: #212529;
	box-shadow: 5px 5px 20px 0px rgba(52, 58, 64, 1);

  animation: 1000ms scale-out forwards;
}

.window .bar {
	position: absolute;
	top: 0;
	width: 100%;
	height: $bar-height;
	background: #f8f9fa;
   &:before {
     content: "// Rab Rennie";
     font-family: 'Inconsolata', monospace;
     color: #212529;
     font-size: 0.8em;
     line-height: 1.5em;
     margin-left: 1em;
   }
}

.window .content {
	position: absolute;
	bottom: 2.1em;
	width: 100%;
	max-height: Calc($height - 80px);
	overflow-y: scroll;
	overflow-x: hidden;
	color: #f8f9fa;
	font-family: 'Inconsolata', monospace;
	p {
		font-size: 1em;
		margin: 5px 10px;
		width: 100%;
		word-wrap: break-word;
    font-weight: 400;

    a, a:visited {
      color: #a3daff;
      text-decoration: none;
    }
		&:before {
			content: "> ";
			color: #ffa8a8;
			font-size: 0.9em;
		}

    &.return:before {
			content: "- ";
			color: #ffa8a8;
			font-size: 0.9em;
		}

    &.info:before {
			content: "\00a0\00a0";
			color: #ffa8a8;
			font-size: 0.9em;
		}
	}
}

.window input {
	position: absolute;
	bottom: 10px;
	right: 0;
	width: Calc($width - 30px);
	height: 1em;
	background: none;
	border: none;
	font-family: 'Inconsolata', monospace;
	color: #f8f9fa;
	font-size: 1em;
	&:focus {
		outline: none;
	}
}

.window .symbol {
	position: absolute;
	bottom: 10px;
	left: 8px;
	color: #ffa8a8;
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
}

.window .content::-webkit-scrollbar {
	width: 7px;
}

.window .content::-webkit-scrollbar-track {
	background: #1d2023;
	border-radius: 10px;
}

.window .content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #161719;
	height: 10px;
}


@keyframes scale-out {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  60% {
    transform: translate(-50%, -50%) scale(1.2);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
