body {
	font-family: 'Roboto Mono', "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fafafa;
}

html {
	font-size: 1em;
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20vw;
}

.title {
  color: #1c7cd6;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about {
  width: 60rem;
  max-width: 60vw;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #212529;
  span {
      background: #343a40;
      color: #fafafa;
      padding: 1px 1rem;
  }

  p {
    margin-top: 1rem;
  }
}

.links {
  max-width: 55vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

}

a {
  margin: 3rem 0;
  text-decoration: none;
  font-size: 1.3rem;
  color: #1c7cd6;
  border-bottom: 1px solid #fafafa;
}

a:hover {
  border-bottom: 1px solid #1c7cd6;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8rem;
  }
  .container {
    position: relative;
    top: 0;
    transform: none;
    left: 0;
    margin: 2rem;
    text-align: center;
  }

  .title {
    color: #1862ab;
  }

	.links {
		flex-wrap: wrap;
	}

  .about, .links {
    max-width: 100vw;

    a {
			flex-basis: 100%;
      font-size: 1.3rem;
      background: #1c7cd6;
      padding: 2rem;
      margin: 1rem 0rem;
      color: #fafafa;
    }
  }
}
