<!DOCTYPE html>
<html ng-app="ywtgapp">
    <head>
        <meta charset="utf-8">
        <title>You Win: The Game</title>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <script src="js/store.js" charset="utf-8"></script>
        <script src="bower_components\angular\angular.min.js" charset="utf-8"></script>
        <script src="js/app.js" charset="utf-8"></script>
        <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body ng-controller="ywtgController" >
        <div class="youwin">
            {{youwin}}
        </div>
        <div class="notifications" id="test">
            <notification ng-repeat="item in notifications" notification-title="{{item.title}}" notification-desc="{{item.desc}}" ng-click="notifications.splice($index,1)"></notification>
        </div>
        <div class="counter">
            {{counter}}
        </div>
        <div class="menu">
            <ul>
                <li><a href="#" ng-click="saveGame()">Save</a></li>
                <li><a href="#" ng-click="toggleAchievementModal()">Achievements</a></li>
                <li><a href="#" ng-click="toggleAboutModal()">About</a></li>
            </ul>
        </div>
        <div class="modal-back" ng-show="achievementModalShow"
        ng-click="toggleAchievementModal()">
            <div class="modal" style="height: 50%;">
                <div class="modal-title">
                    Achievements
                </div>
                <ul>
                    <li ng-repeat="item in achieved">{{item.title}}<br />{{item.desc}}</li>
                </ul>
            </div>
        </div>
        <div class="modal-back" ng-show="aboutModalShow"
        ng-click="toggleAboutModal()">
            <div class="modal">
                <div class="modal-title">
                    About
                </div>
                <div class="modal-content">A simple little idle game made by Rab Rennie
                <p>You can find my other projects <a href="http://rabrennie.com/">Here</a><p>
                </div>
            </div>
        </div>


    </body>
</html>
