doctype html
html
  head
    title Rab Rennie
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .container
      .title Hi I'm Rab
      .about
        p I'm a 19 year old developer from Scotland.
        p I currently work for Fife Council as a Systems Developer.
        p I spend most of my free time learning Web Development and Design by making stuff.
        p Some of the things I've done are on
      .links
        a(href = "http://codepen.io/Rabrennie/") Codepen
        a(href = "https://github.com/Rabrennie") Github
        a(href = "http://rabrennie.com/resume.pdf") Resume
      .about
        p You can contact me via
      .links
        a(href = "https://twitter.com/SpookyCo") Twitter
        a(href = "mailto:rab@rabrennie.com") Email
