doctype html
html
  head
    title Rab Rennie
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .container
      .title Hi I'm Rab
      .about
      .links
        a(href = "http://codepen.io/Rabrennie/") Codepen
        a(href = "https://github.com/Rabrennie") Github
        a(href = "http://rabrennie.com/resume.pdf") Resume
      .links
        a(href = "https://twitter.com/TTOXX") Twitter
        a(href = "mailto:rab@rabrennie.com") Email
